.logo {
    width: 4em;
}

.userImg {
    width: 2.5em;
    border-radius: 50%;
}

.navFont {
    font-family: 'Courier New', Courier, monospace;
}
.userName{
    color: #ee9104;
}

.warning {
    background: #ee9104; 
    border: 0.3em solid #ee9104;
}

.shopping {
    color: #ee9104;
    
}
